<div class="container">
  <section *ngFor="let card of cardList; let i = index">
    <mat-card>
      <div>
        <mat-card-header>
          <mat-card-title>
            {{card.name}}
            <mat-icon class="star" *ngIf="card.isFavorite">star</mat-icon>
          </mat-card-title>
        </mat-card-header>
        <div class="attatchment">
          <p class="attatchment address">{{card.address}}</p>
          <p class="attatchment city-state">{{card.city + '/' + card.state}}</p>
          <p class="attatchment postal-code">CEP {{card.postalCode}}</p>
        </div>

      </div>
      <footer>
        <button class="btn-edit" (click)="card.id !== undefined ? openEditDialog(card.id) : null">
          <mat-icon>edit</mat-icon>
          <p>EDITAR</p>
        </button>
        <button class="btn-delete" (click)="card.id !== undefined ? deleteCard(card.id) : null">
          <mat-icon>delete</mat-icon>
          <p>EXCLUIR</p>
        </button>
      </footer>
    </mat-card>
  </section>
</div>
