<div class="container">
  <section *ngFor="let card of cardList">
    <mat-card>
      <div>
        <mat-card-header>
          <mat-card-title>Actions Buttons</mat-card-title>
        </mat-card-header>
        <p>
          Rua Candelaro Machado, 13, Prédio 2, bairro Santa Lúcia
        </p>
        <p>Belo Horizonte / MG</p>
        <p>CEP 31258-060</p>
      </div>
      <footer>
        <button class="btn-edit">
          <mat-icon>edit</mat-icon>
          <p>EDITAR</p>
        </button>
        <button class="btn-delete">
          <mat-icon>delete</mat-icon>
          <p>EXCLUIR</p>
        </button>
      </footer>
    </mat-card>
  </section>
</div>
