<div class="container">
  <app-breadcumb></app-breadcumb>
  <div class="tab-component">
    <mat-tab-group>
      <mat-tab label="GERAL">
        <section>Content 1</section>
      </mat-tab>
      <mat-tab label="UNIDADES">
        <section>Content 1</section>
      </mat-tab>
      <mat-tab label="USUÁRIOS">
        <section>Content 1</section>
      </mat-tab>
      <mat-tab label="PLANOS">
        <section>Content 1</section>
      </mat-tab>
      <mat-tab label="PATOLOGIAS">
        <section>Content 1</section>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
