<div class="container" [@fadeInOut]>
  <header>
    <app-breadcrumb></app-breadcrumb>
    <app-tenancies-header></app-tenancies-header>
  </header>
  <div class="tab-component">
    <mat-tab-group>
      <mat-tab label="GERAL">
        <section>GERAL</section>
      </mat-tab>
      <mat-tab label="UNIDADES">
        <section>
          <app-unity-content></app-unity-content>
          <app-unity-cards></app-unity-cards>
        </section>
      </mat-tab>
      <mat-tab label="USUÁRIOS">
        <section>USUÁRIOS</section>
      </mat-tab>
      <mat-tab label="PLANOS">
        <section>PLANOS</section>
      </mat-tab>
      <mat-tab label="PATOLOGIAS">
        <section>PATOLOGIAS</section>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
